/* Colors */
:root {
  --color-primary: #00d9ff;
  --color-secondary: #2584ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-text: #b1acbe;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Fonts */
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.5;
  margin-top: 0;
  font-size: 2rem;
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 8rem;
  /* color: white; */
}
h2 {
  font-size: 4rem;
  color: var(--color-heading);
}
h3 {
  font-size: 2.4rem;
  color: var(--color-heading);
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
  transition: 0;
}

/* Badge */

.badge {
  color: white;
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.badge--card-1 {
  background-color: #02cdf1;
}

.badge--card-2 {
  background-color: #126de4;
}

/* List */

.list {
  list-style-type: none;
  color: var(--color-heading);
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(/images/icons/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--inline {
  width: 2rem;
  height: 2rem;
  fill: white;
  padding-right: 0.5rem;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  background-color: #f3f9fa;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  border-radius: 40px;
  background: transparent;
  border: 0;
  padding: 2rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.btn--fixed {
  width: 100%;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--card {
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
}

.btn--card:hover {
  background: var(--color-heading);
  color: white;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}