.margin-body {
  margin: 10px;
}

.banner {
  height: 100vh;
  margin: 0px;
  background: url(../images/space/background_w320.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.banner h1 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px black;

}
.banner p {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  
}

@media screen and (min-width: 853px) {
  .banner {
    background: url(../images/space/background_w853.jpg) no-repeat;
    background-size: cover;
  }
  .banner h1{
    font-size: 3rem;
  }
  .banner p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1228px) {
  .banner {
    background: url(../images/space/background_w1228.jpg) no-repeat;
    background-size: cover;
  }
  .banner h1{
    font-size: 4rem;
    word-spacing: 1rem;
  }
  .banner p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .banner {
    background: url(../images/space/background_w1440.jpg) no-repeat;
    background-size: cover;
  }
  .banner h1{
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
}

.countriesBox {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 10px 10px 10px lightgrey;
}

.countries {
  padding: 100px;
  border-collapse: collapse;
  text-align: left;
  align-self: center;
}

.countries th,
td {
  padding: 0.5rem;
}

.countries thead {
  background-color: #427fef;
  color: white;
}
.countries tbody tr:nth-child(odd) {
  background-color: #eef7ff;
  border-bottom: 1px solid hsla(219, 84%, 60%, 0.855);
  border-top: 1px solid hsla(219, 84%, 60%, 0.855);
}

.countries tfoot {
  background-color: #427fef;
  font-weight: bold;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color:#FFC108;
  align-items: center;
  height: 40px;
  width: 60%;
  border-radius: 10px;
}
.menu-item {
  flex: auto;
  list-style-type: none;
}
.menu-item a {
  color: #137AC9;
  font-weight: 800;
}
.menu-item i {
  color: #137AC9;
}

@media screen and (max-width: 860px) {
  .menu {
    flex-direction: column;
    height: 100px;
    width: 200px;
    align-items: flex-start;
  }
  .menu-item {
    margin: 5px;
  }
}

/* mobile */
.colab {
  display: grid;
  gap: 5px 5px;
  width: 60%;
}
.colab-item {
  list-style-type: none;
}

.colab-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1260px) {
  .colab {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 300px);
  }
  .colab-item:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
  }
}

.moussaka-block {
  width: 1140px;
  border: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
.moussaka-block h1,
h2 {
  font-weight: bold;
}
.moussaka-block h1 {
  font-size: 2.5rem;
}
.italic-desc {
  font-style: italic;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}

#moussaka-pic {
  width: 100%;
}
.pic-ingredients-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.musaka-pic-c {
  flex: 1;
  margin: 0 5rem 0 0;
}
.musaka-ingr-c {
  flex: 1;
}
.method {
  width: 120ch;
}
