body {
  margin: 10px;
}
#userPic {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.sender {
  font-weight: bold;
}
#treePic {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
video {
  width: 400px;
}

.countriesBox {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 10px 10px 10px lightgrey;
}

.countries {
  padding: 100px;
  border-collapse: collapse;
  text-align: left;
  align-self: center;
}

.countries th,
td {
  padding: 0.5rem;
}

.countries thead {
  background-color: #427fef;
  color: white;
}
.countries tbody tr:nth-child(odd) {
  background-color: #eef7ff;
  border-bottom: 1px solid hsla(219, 84%, 60%, 0.855);
  border-top: 1px solid hsla(219, 84%, 60%, 0.855);
}

.countries tfoot {
  background-color: #427fef;
  font-weight: bold;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.menu-item {
  flex: auto;
  list-style-type: none;
}
.menu-item a {
  color: white;
}
