<div class="card card--primary">
    <header class="card__header">Card title</header>
    <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta, nam eaque quis fugit porro, fuga
        quas id animi, magni error. Repudiandae ratione suscipit cumque consequatur dignissimos voluptatibus, rerum
        incidunt officiis soluta iusto quos quidem repellendus, necessitatibus magni corrupti laudantium expedita
        commodi, quam accusantium molestiae doloribus! Dicta et incidunt facere!
    </div>
</div>