<section class="block block--black block--skewed-right hero">
    <nav class="nav">
        <a href="/" class="nav__brand"><img src="/images/icons/logo.svg" alt="logo"></a>
        <ul class="list list--inline">
            <a href="/">
                <li class="list__item">Hosting</li>
            </a>
            <a href="/">
                <li class="list__item">VPS</li>
            </a>
            <a href="/">
                <li class="list__item">Domain</li>
            </a>
            <a href="/">
                <li class="list__item">Pricing</li>
            </a>
        </ul>
    </nav>
    <div class="hero__content grid grid--1x2">
        <header class="block__header">
            <h1 class="block__heading">Cloud Hosting for Pros</h1>
            <p class="block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                tempore, ut
                voluptatum iste at
                voluptas labore laudantium impedit maiores consequatur!</p>
            <button class="btn btn--accent" type="submit">Get started</button>
        </header>
        <img src="/images/banner.png" alt="banner" class="hero__pic">
    </div>
</section>