<section class="plans container">
    <div class="plan">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="plan__title">Entry</h3>
                <span class="plan__cost">$14</span>
                <span class="plan__period">/month</span>
                <span class="badge badge--card-1">10% OFF</span>
                <span class="plan__description">Easy start on the cloud</span>
    
    
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                </ul>
                <button class="btn btn--card btn--fixed" type="submit">Buy now</button>
            </div>
        </div>
    </div>
    <div class="plan plan--popular">
        <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__title">Business</h3>
                <span class="plan__cost">$24</span>
                <span class="plan__period">/month</span>
                <span class="badge badge--card-2">20% OFF</span>
                <span class="plan__description">Optimal Cloud Experience</span>
    
    
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                    <li class="list__item">2 CPU CORES</li>
                </ul>
                <button class="btn btn--card btn--fixed" type="submit">Buy now</button>
            </div>
        </div>
    </div>
    <div class="plan">
        <div class="card card--primary">
            <header class="card__header">
                <h3 class="plan__title">Business plus</h3>
                <span class="plan__cost">$54</span>
                <span class="plan__period">/month</span>
                <span class="badge badge--card-1">10% OFF</span>
                <span class="plan__description">Easy start on the cloud</span>
    
    
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Unlimited Websites</li>
                    <li class="list__item">Unlimited Bandwidth</li>
                    <li class="list__item">100 GB SSD Storage</li>
                    <li class="list__item">3 GB RAM</li>
                    <li class="list__item">2 CPU CORES</li>
                </ul>
                <button class="btn btn--card btn--fixed" type="submit">Buy now</button>
            </div>
        </div>
    </div>
</section>