<blockquote class="quote">
    <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur esse quas vitae soluta
        et, quis libero at maiores cum culpa?</p>
    <footer class="quote__description">
        <div class="media">
            <div class="media__pic">
                <svg class="icon icon--primary">
                    <use xlink:href="/images/icons/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title">Jhone Lumeo</h3>
                <p class="quote__organization">Mosh Company CEO</p>
            </div>
        </div>
    </footer>    
</blockquote>