<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image--container">
            <img class="testimonial__image" src="/images/testimonial.jpg" alt="">
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--accent">
                    <use xlink:href="/images/icons/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote quote--testimonial">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis maxime minus
                quae cumque. Velit ex incidunt tenetur dolore quia culpa eius esse ullam quasi neque impedit rerum
                tempore ab, obcaecati molestias enim. Eaque velit placeat numquam dicta a molestiae consequatur ea,
                temporibus magni veniam quam corrupti incidunt nam voluptas reprehenderit!</p>
            <footer class="quote__description">
                <div class="media">
                    <div class="media__pic">
                        <svg class="icon icon--primary">
                            <use xlink:href="/images/icons/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Jhone Lumeo</h3>
                        <p class="quote__organization">Mosh Company CEO</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>